<html>
    <head>
        <title>Abouts</title>
    </head>
    <body>
        <h1>About my Greatness!!!</h1>
        <p> I'm crazy... Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Gravida in fermentum et sollicitudin ac orci phasellus egestas tellus. Platea dictumst quisque sagittis purus sit amet. Velit aliquet sagittis id consectetur purus ut faucibus. Metus aliquam eleifend mi in nulla posuere sollicitudin. In hac habitasse platea dictumst quisque. Eu mi bibendum neque egestas congue quisque. Sem integer vitae justo eget magna fermentum. Purus sit amet volutpat consequat. Nec sagittis aliquam malesuada bibendum arcu vitae elementum curabitur. Mattis nunc sed blandit libero volutpat sed cras ornare.</p>
        <a href="/">Home</a>
    </body>
</html>