<html>
    <head>
        <title>Testimonials from wise man</title>
    </head>
    <body>
        <h1> My Testimonials</h1>
        <p>"The only knowledge one possesses is the knowledge that one possesses no knowledge."</p>
        <p>"To move a mountain, one must start moving small pebbles."</p>
        <p>"You can't fall if you don't climb. But there's no joy in living your whole life on the ground."</p>
        <p>"The pain you feel today is the strength you feel tomorrow. For every chsallenge encountered there is opportunity for growth."</p>
        <a href="/">Home</a>
    </body>
</html>